@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
* {
  box-sizing: border-box;
  border: red solid 1px;
}

#site {
  width: 100%;
  height: auto;
  min-width: 320px; /* Minimum width of the site (smartphone)*/
  max-width: 1440px; /* Maximum width of the site (desktop) */
  margin: auto;
}
header {
  padding: 10px 20px;
  width: 100%;
  height: auto;
}
header img {
  width: 30%;
  height: auto;
}
.fa-bars {
  font-size: 25px;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 100%;
  height: auto;
}
nav ul {
  text-align: center;
  display: none;
}
nav ul li {
  text-transform: capitalize;
  font-size: 18px;
  padding: 10px;
  background-color: bisque;
  border-bottom: 1px solid rgb(158, 153, 93);
}
nav ul li:hover {
  background-color: rgb(158, 153, 93);
  color: white;
}
header section {
  display: none;
}
form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form div {
  margin-top: 10px;
}
form div input:first-child {
  border-radius: 5px;
}
form div input:last-child {
  background-color: rgb(226, 110, 14);
  padding: 5px 20px;
  border: none;
  font-weight: bolder;
}
form div input:last-child:hover {
  background-color: rgb(93, 110, 158);
  color: white;
}
#big {
  width: 100%;
  margin: 20px 0;
}
main h2 {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
main section {
  margin: 20px 10px;
  width: 100%;
  height: auto;
}
main section .card {
  width: 100%;
  height: auto;
}
main section .card div {
  width: 100%;
  height: auto;
  position: relative;
}
main section .card div img {
  width: 100%;
  height: auto;
}
.card div h2 {
  position: absolute;
  bottom: 0;
  padding: 0 0 20px 10px;
  font-size: 20px;
  font-weight: 900;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
.card p {
  padding: 0 10px;
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Playwrite GB S", cursive;
  line-height: 1.1rem;
}
main section:last-child {
  height: 150px;
  background-image: url("/img/banniere3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
main section:last-child h2 {
  color: white;
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
footer {
  width: 100%;
  height: auto;
}
footer section {
  display: flex;
  justify-content: space-between;
}

footer div h3 {
  font-weight: 400;

  font-family: "Playwrite GB S", cursive;
  padding: 10px 10px;
}
footer div ul {
  padding: 10px;
  text-align: center;
}
footer div p {
  font-style: italic;
  font-size: 17px;
  padding: 10px 0 15px 10px;
}
#bla {
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
footer .rezo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer > div :last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .rezo .fa-brands {
  font-size: 25px;
  margin: 0 10px;
  justify-content: space-between;
}
